@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

#schemaForm, .schema-form {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;

  .glyphicon-plus-sign:before {
    content: "\e081";
  }
  .glyphicon-minus-sign:before {
    content: "\e082";
  }

  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .btn {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 3px 13px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .btn-primary {
    position: relative;
    margin-bottom: 10px;
    height: 24px;
    top: 20px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;    
  }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204d74;  
  }
  .btn-default {
    background-color: transparent;
    padding: 3px 5px 2px 5px;
    color: #333;
    /* border: 1px solid #ccc; */
    /* color: #eee; */
  }


  /* Custom Style */
  .help-block {
    font-size: 12px;
    color: #808080;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .form-control {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  
    box-sizing: border-box;
    padding: 3px 10px;
    height: 24px;
    border-radius: 15px;
    margin: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }

  .jsonform-required > label:after {
    content: ' *';
    color: red;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
    margin-left: 5px;
    font-size: 14px;
  }
  .form-inline {
    align-items: unset;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
  }
  .form-inline .checkbox {
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 0;
  }
  input[type="checkbox"] {
    display: block;
    position: relative;
    margin: 0;
    top: 5px;
  }
  li > div > label {
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
  }
  .controls input, select {
    min-width: unset;
    max-width: unset;
    margin: 0;
  }
  .controls input[type="text"] {
    width: 110px;;
  }
  input[type="number"] {
    max-width: 120px;
    text-align: right;
  }
  select {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
  textarea {
    min-height: 24px;
    max-height: 300px;
    overflow-y: auto;
    resize: both;
    max-width: 700px;
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    padding: 1px 10px;
    margin: 0px;
    width: unset;
    line-height: 1.42857143;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
  }
  textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .range-value {
    position: relative;
    top: -5px;
    padding: 0px 3px;
  }
  .range {
    height: 24px;
    position: relative;
  }
  input[type=range] {
    margin-top: 1px;
  }
  input[type=range]:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  ._jsonform-array-deletelast {
    display: none;
  }
  ._jsonform-array-buttons {
    display: block;
    width: 100%;
    text-align: right;
  }
  i[title="Delete current"] {
    top: 5px;
  }
  ._jsonform-array-addmore, ._jsonform-array-deletecurrent {
    box-shadow: unset;
    outline: 0;
  }
  .controls > .checkbox input {
    top: 5px;
  }
  .checkbox {
    label {
      font-weight: normal;
    }
    input {
      top: 1px;
      display: unset;
      margin-right: 4px;
    }
  }
  .alert {
    padding: 5px 10px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;  
  }
}

.swagger-ui textarea {
  min-height: 130px;
  overflow-y: hidden;
}