[project]
name = "agentr"
version = "0.1.2"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Manoj Bajaj", email = "manojbajaj95@gmail.com" }
]
requires-python = ">=3.11"
dependencies = [
    "mcp>=1.5.0",
    "pyyaml>=6.0.2",
    "typer>=0.15.2",
]

[project.scripts]
agentr = "agentr.cli:app"


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
